In [4]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

In [6]:
# Find the area 

radius = input("Enter the Radius of Area = ")
area = 2*3.141*float(radius)
print(area)

Enter the Radius of Area = 5
31.41

In [16]:
first_name = input("Enter First Name ...")
second_name = input("Enter Second Name ...")

print(first_name +" "+ second_name)

for x1 in reversed(second_name):
    print(x1, end = "")

print(" ",end = "")
    
for x in reversed(first_name):
    print(x, end = "")

Enter First Name ...hamza
Enter Second Name ...iqbal
hamza iqbal
labqi azmah

In [7]:
filename = input("Enter file name ")
for x in filename:
    if x==".":
        print(x)

Enter file name hamza

In [6]:
color_list = ["Red","Green","White" ,"Black"]

print(color_list[0],color_list[3])

Red Black

In [11]:
exam_st_date = (11, 12, 2014)

print(exam_st_date[0],"/",exam_st_date[1],"/",exam_st_date[2])

11 / 12 / 2014

In [14]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [15]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [16]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

In [18]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 2
This is an even number.

In [36]:
def _countingFour(num):
    
    count = 0
    
    for x in num:
        if(x == 4):
            count += 1
    print(count)


_countingFour([1,2,3,4,5,4,5,4,6])

3

In [17]:
data = [2,5,8,6,9,7,7,4,]

counter = 0

for x in data:
    counter += 1
    if(counter == 3):
        #print(x)
        counter = 0
        data.remove(x)
print(data)

[2, 5, 6, 9, 7, 4]

In [22]:
data = [1,5,6,9,8,755,96,7,5,9,5,9]

for x in data:
    if x%2==0:
        print('Numebr is even = ',x)
    else:
        print('Number is odd = ',x)

Number is odd =  1
Number is odd =  5
Numebr is even =  6
Number is odd =  9
Numebr is even =  8
Number is odd =  755
Numebr is even =  96
Number is odd =  7
Number is odd =  5
Number is odd =  9
Number is odd =  5
Number is odd =  9

In [15]:
import random
char_list = ['a','e','i','o','u']
random.shuffle(char_list)
print(''.join(char_list))

oieua

In [28]:
uni_id = "28186"
name = "Hamza iqbal"
fname = "Muhammad Iqbal"
program = "BSCS"
session = "2015-2019"

message = """
ID:{}
Name:{}
Father Name:{}
Program:{}
Session:{}

""".format(uni_id,name,fname,program,session)
print(message)

ID:28186
Name:Hamza iqbal
Father Name:Muhammad Iqbal
Program:BSCS
Session:2015-2019

# Functions

In [33]:
import pdb

_first_value = 5
_second_value = 30

#pdb.set_trace()

_sum = _first_value+_second_value

print(" Sum of "+str(_first_value)+" and "+str(_second_value)+" = " +str(_sum))

 Sum of 5 and 30 = 35

In [41]:
def _calulator(_value1,_value2):
    _sum = _value1+_value2
    _division = _value1/_value2
    _multiplication = _value1*_value2
    print("Sum is "+str(_sum))
    print("Division is "+str(_division))
    print("Multiplication is "+str(_multiplication))
    
    
_calulator(10,5)

Sum is 15
Division is 2.0
Multiplication is 50

In [47]:
def _calulator(_value1=.5,_value2=.10):
    _sum = _value1+_value2
    _division = _value1/_value2
    _multiplication = _value1*_value2
    print("Sum is "+str(_sum))
    print("Division is "+str(_division))
    print("Multiplication is "+str(_multiplication))
    
    
_calulator()

Sum is 0.6
Division is 5.0
Multiplication is 0.05

# Functions with dictionay

In [69]:
customers = {
 0: {
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 1: {
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 2: {
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }

def find_something(dict,inner_dict,target):
     print(dict[inner_dict][target])
        

find_something(customers, 2, "last name")

Somers

In [70]:
def display_nums(first_num, second_num,*opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)
    
display_nums(100, 200, 300, 400, 500)

100
200
(300, 400, 500)