# List Methods

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
#slicing for multiple values
#index for single value
mydata = ["Hamza","Iqbal",28186,"BSCS","Bahria University Islamabad Campus"]
#list[start:end:step]
print(mydata[2])

28186

# Append

In [28]:
names=[]
names.append("Hamza")
names.append("Hassnain")
names.append("Zohaib")
names.append("Touseef")

names

['Hamza', 'Hassnain', 'Zohaib', 'Touseef']

# Clear

In [12]:
names.clear()

names

[]

# Copy

In [58]:
mydata = names.copy()
mydata

['Hamza', 'Hassnain', 'Zohaib', 'Touseef']

# Count

In [67]:
print(names)
names.count("Hamza")

['Hamza', 'Hassnain', 'Zohaib', 'Touseef']

1

# Extend

In [100]:
mydata = ["Hamza","Iqbal",28186,"BSCS","BSCS","Bahria University Islamabad Campus"]


print("After extend")

print(names+mydata)

print(names.extend(mydata)) #in memory operation

After extend
['Hamza', 'Hassnain', 'Zohaib', 'Touseef', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'BSCS', 'Bahria University Islamabad Campus', 'Hamza', 'Iqbal', 28186, 'BSCS', 'BSCS', 'Bahria University Islamabad Campus']
None

# Index

In [96]:
mydata.index("BSCS",4) #return only first index that matches

4

# Insert

In [115]:
mydata = ["Hamza","Iqbal",28186,"BSCS","BSCS","Bahria University Islamabad Campus"]
mydata.insert(2,"Muhammad Iqbal")
mydata

['Hamza',
 'Iqbal',
 'Muhammad Iqbal',
 28186,
 'BSCS',
 'BSCS',
 'Bahria University Islamabad Campus']

# Pop

In [116]:
#remove from the top of the list
popValue = mydata.pop(-2) #pop method return the value but delete(del) method doesnot return a value
print("Data Poped = "+popValue)
print(mydata)

Data Poped = BSCS
['Hamza', 'Iqbal', 'Muhammad Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus']

# Remove

In [118]:
mydata = ["Hamza","Iqbal",28186,"BSCS","BSCS","Bahria University Islamabad Campus"]
mydata.remove("BSCS")
mydata

['Hamza', 'Iqbal', 28186, 'BSCS', 'Bahria University Islamabad Campus']

# Reverse

In [120]:
mydata = ["Hamza","Iqbal",28186,"BSCS","BSCS","Bahria University Islamabad Campus"]
mydata.reverse()
mydata

['Bahria University Islamabad Campus', 'BSCS', 'BSCS', 28186, 'Iqbal', 'Hamza']

# Sort

In [124]:
mydata = ["z","k","y","a","d"]
mydata.sort()
mydata

['a', 'd', 'k', 'y', 'z']

In [125]:
mydata = ["z","k","y","a","d"]
mydata.sort(reverse = True)
mydata

['z', 'y', 'k', 'd', 'a']

#       __add__

In [131]:
mydata = ["z","k","y","a","d"]
mydata.__add__(["h","f","x"]) #in line operation
mydata

['z', 'k', 'y', 'a', 'd']

# __Class__

In [132]:
mydata = ["z","k","y","a","d"]
mydata.__class__
mydata

['z', 'k', 'y', 'a', 'd']

# __Contains__

In [134]:
mydata = ["z","k","y","a","d"]
mydata.__contains__("a")

True

# Loops

In [135]:
["Pakistan"] * 10

['Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan']

# counter
# logic
# Increment / Decrement
1. while
2. for

In [2]:
counter = 1
while counter <= 10:
    print("Pakistan "+str(counter))
    counter += 1

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10

In [5]:
for i in range(1,11):
    print("Pakistan ",i)

Pakistan  1
Pakistan  2
Pakistan  3
Pakistan  4
Pakistan  5
Pakistan  6
Pakistan  7
Pakistan  8
Pakistan  9
Pakistan  10

In [8]:
["Pakistan "+str(i) for i in range(1,11)]

['Pakistan 1',
 'Pakistan 2',
 'Pakistan 3',
 'Pakistan 4',
 'Pakistan 5',
 'Pakistan 6',
 'Pakistan 7',
 'Pakistan 8',
 'Pakistan 9',
 'Pakistan 10']

In [11]:
for i in range(1,11):
    print("2 * ",i," = ",2*i)

2 *  1  =  2
2 *  2  =  4
2 *  3  =  6
2 *  4  =  8
2 *  5  =  10
2 *  6  =  12
2 *  7  =  14
2 *  8  =  16
2 *  9  =  18
2 *  10  =  20

In [12]:
for i in range(1,11):
    print("2 * "+str(i)+" = "+str(2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
["2 * "+str(i)+" = "+str(2*i) for i in range(1,11)]

['2 * 1 = 2',
 '2 * 2 = 4',
 '2 * 3 = 6',
 '2 * 4 = 8',
 '2 * 5 = 10',
 '2 * 6 = 12',
 '2 * 7 = 14',
 '2 * 8 = 16',
 '2 * 9 = 18',
 '2 * 10 = 20']

# Tuple

In [18]:
str(tuple)

"<class 'tuple'>"

In [21]:
a = (1,2,3,4,6,8)
a.count(1)

1

# Assignment Tasks

In [1]:
counter = 1
data = []
check = True

while check == True:
    data.append(input("Enter Name = ")) 
    data.append(input("Enter Father Name = "))
    data.append(input("Enter Age = "))
    
    check = input("Do you want to continue (y/n):")
    if check == "y":
        check = True
    else:
        check = False
        
print(data)

Enter Name = Hamza
Enter Father Name = iqbal
Enter Age = 25
Do you want to continue (y/n)y
Enter Name = Hassnain
Enter Father Name = iqbal
Enter Age = 32
Do you want to continue (y/n)n
['Hamza', 'iqbal', '25', 'Hassnain', 'iqbal', '32']

In [1]:
count = 1000

while count>=990:
    print(count," ")
    count -= 1

1000
999
998
997
996
995
994
993
992
991
990

In [8]:
for i in range(1000,990,-1):
    print(i," ")

1000
999
998
997
996
995
994
993
992
991

In [2]:
capitalAlphabet = 65
smallAlphabet = 97
numericValues = 48
for i in range(1,14):
    for j in range(1,3):
        if numericValues > 57:
            print(chr(capitalAlphabet)+"  "+chr(smallAlphabet)+"  ")
        else:
            print(chr(capitalAlphabet)+"  "+chr(smallAlphabet)+"  "+chr(numericValues))
        capitalAlphabet +=1
        smallAlphabet +=1
        numericValues +=1

A  a  0
B  b  1
C  c  2
D  d  3
E  e  4
F  f  5
G  g  6
H  h  7
I  i  8
J  j  9
K  k
L  l
M  m
N  n
O  o
P  p
Q  q
R  r
S  s
T  t
U  u
V  v
W  w
X  x
Y  y
Z  z

In [12]:
num = int(input("Multiplication using value? : "))

for left in range(1,num+1):  # 1st loop
    for right in range(1,11): # 2nd loop (nested)
        print(left, " * ", right, " = ", left * right)
    print() # newline

Multiplication using value? : 20
1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

11  *  1  =  11
11  *  2  =  22
11  *  3  =  33
11  *  4  =  44
11  *  5  =  55
11  *  6  =  66
11  *  7  =  77
11  *  8  =  88
11  *  9  =  99
11  *  10  =  110

12  *  1  =  12
12  *  2  =  24
12  *  3  =  36
12  *  4  =  48
12  *  5  =  60
12  *  6  =  72
12  *  7  =  84
12  *  8  =  96
12  *  9  =  108
12  *  10  =  120

13  *  1  =  13
13  *  2  =  26
13  *  3  =  39
13  *  4  =  52
13  *  5  =  65
13  *  6  =  78
13  *  7  =  91
13  *  8  =  104
13  *  9  =  117
13  *  10  =  130

14  *  1  =  14
14  *  2  =  28
14  *  3  =  42
14  *  4  =  56
14  *  5  =  70
14  *  6  =  84
14  *  7  =  98
14  *  8  =  112
14  *  9  =  126
14  *  10  =  140

15  *  1  =  15
15  *  2  =  30
15  *  3  =  45
15  *  4  =  60
15  *  5  =  75
15  *  6  =  90
15  *  7  =  105
15  *  8  =  120
15  *  9  =  135
15  *  10  =  150

16  *  1  =  16
16  *  2  =  32
16  *  3  =  48
16  *  4  =  64
16  *  5  =  80
16  *  6  =  96
16  *  7  =  112
16  *  8  =  128
16  *  9  =  144
16  *  10  =  160

17  *  1  =  17
17  *  2  =  34
17  *  3  =  51
17  *  4  =  68
17  *  5  =  85
17  *  6  =  102
17  *  7  =  119
17  *  8  =  136
17  *  9  =  153
17  *  10  =  170

18  *  1  =  18
18  *  2  =  36
18  *  3  =  54
18  *  4  =  72
18  *  5  =  90
18  *  6  =  108
18  *  7  =  126
18  *  8  =  144
18  *  9  =  162
18  *  10  =  180

19  *  1  =  19
19  *  2  =  38
19  *  3  =  57
19  *  4  =  76
19  *  5  =  95
19  *  6  =  114
19  *  7  =  133
19  *  8  =  152
19  *  9  =  171
19  *  10  =  190

20  *  1  =  20
20  *  2  =  40
20  *  3  =  60
20  *  4  =  80
20  *  5  =  100
20  *  6  =  120
20  *  7  =  140
20  *  8  =  160
20  *  9  =  180
20  *  10  =  200

In [33]:
# 5 7 20
for x in range(1,1000):
    if x%5==0 and x%7==0 and x%9==0:
        print("Divisible = ",x)

Divisible =  315
Divisible =  630
Divisible =  945

In [6]:
l= [[2,5,9],
    [8,9,10],
    [20,30,27],
    [35,9,20]]

for ri, r in enumerate(l):
    for ci,c in enumerate(r):
        if c % 5 == 0:
            print((ri,ci,c), end=" ")

(0, 1, 5) (1, 2, 10) (2, 0, 20) (2, 1, 30) (3, 0, 35) (3, 2, 20)

In [40]:
girl = "gorgeous"
person = "rich"
friend = True
girlWalk = True
sheSlap = True
introHerHusband = True

if person == "rich" and sheSlap != True and sheSlap != True :
    print("That is direct Marketing")
elif friend== True and person == "rich" and sheSlap != True and sheSlap != True :
    print("that is advertising")
elif girlWalk == True and person =="rich"  and sheSlap != True:
    print("Thats Brand Recognition")
elif person == "rich" and sheSlap == True:
    print("Thats customer feedback")
elif person == "rich" and introHerHusband == True:
    print("That is demand and supply Gap")
else:
    print("Thats restriction from entering new markeet")

Thats customer feedback

# Write Python Program to Check Whether a Number is Positive or Negative
1. Take the value of the integer and store in a variable.
2. Use an if statement to determine whether the number is positive or negative.
3. Exit.

In [5]:
value = int(input("Please Enter a number = "))
if value >= 0:
    print("Input number is Positive:")
else:
    print("Input number is Negative:")

Please Enter a number = -5
Input number is Negative:

# Write Python Program to Take in the Marks of 5 Subjects and Display the Grade
1. Take in the marks of 5 subjects from the user and store it in different variables.
2. Find the average of the marks.
3. Use an else condition to decide the grade based on the average of the marks.
4. Exit.

In [8]:
marks1 = float(input("Enter First Course Marks: "))
marks2 = float(input("Enter Second Course Marks: "))
marks3 = float(input("Enter Third Course Marks: "))
marks4 = float(input("Enter Forth Course Marks: "))
marks5 = float(input("Enter Fifth Course Marks: "))

avg = (marks1+marks2+marks3+marks4+marks5)/5

print("Average of Given Marks = ",avg)

if avg >= 90:
    print("Grade A is Awarded: ")
elif avg >=70 and avg <=89:
    print("Grade B+ is Awarded: ")
elif avg >=60 and avg <=69:
    print("Grade B is Awarded: ")
elif avg >=50 and avg <=59:
    print("Grade B+ is Awarded: ")
else:
    print("Grade F is Awarded: ")

Enter First Course Marks: 80
Enter Second Course Marks: 95
Enter Third Course Marks: 85
Enter Forth Course Marks: 85
Enter Fifth Course Marks: 95
Average of Given Marks =  88.0
Grade B+ is Awarded:

# Write Python Program to Read Two Numbers and Print Their Quotient and Remainder
1. Take in the first and second number and store it in separate variables.
2. Then obtain the quotient using division and the remainder using modulus operator.
3. Exit.

In [9]:
first = float(input("Enter First Number :"))
second = float(input("Enter Second Number : "))
quotient = first//second
remainder = first%second
print("Quotient is = ",quotient)
print("Remainder is = ",remainder)

Enter First Number :8
Enter Second Number : 6
Quotient is =  1.0
Remainder is =  2.0

# Write Python Program to Print all Integers that Aren’t Divisible by Either 2 or 3 and Lie
between 1 and 50.
1. Use a for-loop ranging from 0 to 51.
2. Then use an if statement to check if the number isn’t divisible by both 2 and 3.
3. Print the numbers satisfying the condition.
4. Exit.

In [13]:
for x in range(1,50):
    if x%2 != 0 or x%3 != 0:
        print("Divisible = ",x)

Divisible =  1
Divisible =  2
Divisible =  3
Divisible =  4
Divisible =  5
Divisible =  7
Divisible =  8
Divisible =  9
Divisible =  10
Divisible =  11
Divisible =  13
Divisible =  14
Divisible =  15
Divisible =  16
Divisible =  17
Divisible =  19
Divisible =  20
Divisible =  21
Divisible =  22
Divisible =  23
Divisible =  25
Divisible =  26
Divisible =  27
Divisible =  28
Divisible =  29
Divisible =  31
Divisible =  32
Divisible =  33
Divisible =  34
Divisible =  35
Divisible =  37
Divisible =  38
Divisible =  39
Divisible =  40
Divisible =  41
Divisible =  43
Divisible =  44
Divisible =  45
Divisible =  46
Divisible =  47
Divisible =  49

# Write Python Program to Exchange the Values of Two Numbers Without Using a Temporary
Variable
Problem Solution
1. Take the values of both the elements from the user.
2. Store the values in separate variables.
3. Add both the variables and store it in the first variable.
4. Subtract the second variable from the first and store it in the second variable.
5. Then, subtract the first variable from the second variable and store it in the first variable.
6. Print the swapped values.
7. Exit.

In [17]:
num1 = float(input("Enter first value = "))
num2 = float(input("Enter second value = "))

num1 = num1 + num2
num2 = num1 - num2
num1 = num2 - num1

print("First value = ",num1 , " Second Value = " , num2)

Enter first value = 5
Enter second value = 10
First value =  -10.0  Second Value =  5.0

# Write Python Program to Find the Area of a Triangle Given All Three Sides
Problem Solution
1. Take in all the three sides of the triangle and store it in three separate variables.
2. Then using the Heron’s formula, compute the area of the triangle.
3. Print the area of the triangle.
4. Exit

If a, b and c are three sides of a triangle. Then,

s = (a+b+c)/2
area = √(s(s-a)*(s-b)*(s-c))

In [18]:
side1 = float(input("Enter first value = "))
side2 = float(input("Enter second value = "))
side3 = float(input("Enter Third value = "))

s = (side1 + side2 + side3) / 2
# calculate the area
area = (s*(s-side1)*(s-side2)*(s-side3)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first value = 47
Enter second value = 65
Enter Third value = 25
The area of the triangle is 473.53

# Write Python Program to Print Largest Even and Largest Odd Number in a List
1. Take in the number of elements to be in the list from the user.
2. Take in the elements from the user using a for loop and append to a list.
3. Using a for loop, get the elements one by one from the list and check if it odd or even and append them to different lists.
4. Sort both the lists individually and get the length of each list.
5. Print the last elements of the sorted lists.
6. Exit.

In [29]:
numbers = [] 
print("Enter 5 number in list ")
for x in range(1,5):
     numbers.append(int(input("Enter "+str(x)+" number = ")))
    
print(numbers)

c=[]
d=[]
for i in numbers:
    if(i%2==0):
        c.append(i)
    else:
        d.append(i)
c.sort()
d.sort()
count1=0
count2=0
for k in c:
    count1=count1+1
for j in d:
    count2=count2+1
print("Largest even number:",c[count1-1])
print("Largest odd number",d[count2-1])

Enter 5 number in list
Enter 1 number = 8
Enter 2 number = 10
Enter 3 number = 7
Enter 4 number = 30
[8, 10, 7, 30]
Largest even number: 30
Largest odd number 7

# Write Python Program to Find the Second Largest Number in a List
1. Take in the number of elements and store it in a variable.
2. Take in the elements of the list one by one.
3. Sort the list in ascending order.
4. Print the second last element of the list.
5. Exit.

In [37]:
lol = [] 
print("Enter 5 number in list ")
for x in range(1,5):
     lol.append(int(input("Enter "+str(x)+" number = ")))
    
lol.sort()
print(lol[-2])

Enter 5 number in list
Enter 1 number = 14
Enter 2 number = 47
Enter 3 number = 21
Enter 4 number = 36
36

# Write Python Program to Find the Union of two Lists
1. Define a function which accepts two lists and returns the union of them.
2. Declare two empty lists and initialise to an empty list.
3. Consider a for loop to accept values for two lists.
4. Take the number of elements in the list and store it in a variable.
5. Accept the values into the list using another for loop and insert into the list.
6. Repeat 4 and 5 for the second list also.
7. Find the union of the two lists.
8. Print the union.
9. Exit

In [38]:
def Union(lst1, lst2): 
    final_list = lst1 + lst2 
    return final_list 
  
# Driver Code 
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52] 
lst2 = [2, 48, 15, 12, 26, 32, 47, 54] 
print(Union(lst1, lst2))

[23, 15, 2, 14, 14, 16, 20, 52, 2, 48, 15, 12, 26, 32, 47, 54]